.featuredInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
  

}
.featuredItems{
    flex: 1;
    margin: 0 20px;
    padding: 20px;
    border-radius: 5px;  
    cursor: pointer;
    box-shadow: -18px -6px 33px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: -18px -6px 33px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: -18px -6px 33px 0px rgba(0,0,0,0.12);
}