.chart{
    margin: 20px;
    padding:20px;
    box-shadow: 28px 48px 30px 0px rgba(0,0,0,0.04);
    -webkit-box-shadow: 28px 48px 30px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 28px 48px 30px 0px rgba(0,0,0,0.04);
    background-color: #5550bd;
    color: #ffffff;
}


.chartTitle{
    margin-bottom: 20px;

    }