.container{
   display: flex;
   
    
}
.other{
    width: 100%;
    background-color: rgb(171, 182, 218);
    flex: 4;
}
.sideBarWrapper{
    padding: 20px;
}

.sideBarMenu{
    margin-bottom: 20px;
}